@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container01{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.texto-nosotros, .Imagen-nosotros{
    padding: 0 5rem;
}

.texto-nosotros{
    max-width: 60rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

.foto1{
    max-width: 60rem;
    border-radius: 80% 20% / 10% 40%;
}

.container02{
    background-color: #eeeeee;
    width: 100%;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.element{
    max-width: 40rem;
    margin: 5rem;
}

.element p{
    font-size: 2rem;
    margin-top: 2rem;
}

